<section id="section-location" class="page-section">
    <div class="heading center">
        <h2 class="heading__title">Our Locations</h2>
        <h3 class="heading__sub-title">We offer three locations to serve your whole family</h3>
    </div>

    <div class="container">
            <div class="location location__two-column">
                <div class="location__card--wrapper">

                    {% include 'molecules/location-card__simple.twig' %}

                </div>
                <div class="location__map">

                    {% include 'atoms/google-map.twig' with {
                        mapTarget: "google-map5",
                        googleMap: "https://www.google.com/maps/place/Highland+Dental+Care/@39.2383174,-77.2752622,15z/data=!4m5!3m4!1s0x0:0x832dbeb864f5b0c!8m2!3d39.2383174!4d-77.2752622"
                    } %}

                </div>
            </div>
    </div>

    <div class="location--part-two">
        <div class="container">
            <div class="row">
                <div class="col-md-6 location-mini__special-border">
                    <div class="location-mini__top-row">
                        <div class="col-sm-6 col-lg-5">
                            <div class="location-mini__logo--wrapper">
                                <img  src="assets/logo.png" alt="{{ mainDoctor }}" class="location-mini__logo">
                            </div>
                            <p class="location-mini__address">903 Russell Avenue #200<br>Gaithersburg, MD 20879</p>

                            <a href="{{ googleMap }}" target="_blank" class="link-no-style ">
                                <h6 class="location-mini__map-link underline">Click for map & directions</h6>
                            </a>
                            <p class="location-mini__new-patient-text">New Patient Hotline</p>
                            <a href="tel:+18884956778" class="location-mini__new-patient-number">(888) 495-6778</a>
                            <p class="location-mini__existing-patient-text">Existing Patients Call<br>
                                <a href="tel:+13012161780" class="link-no-style location-mini__existing-patient-number">(301) 216-1780</a>
                            </p>
                        </div>
                        <div class="col-sm-6 col-lg-7">
                            <div class="hours">
                                <h6 class="hours__title center">Hours</h6>
                                <ul class="hours__list">
                                    <li class="hours__line">
                                        <h6 class="hours__day">Mon</h6>
                                        <h6 class="hours__hours">8:00am - 5:00pm</h6>
                                    </li>
                                    <li class="hours__line">
                                        <h6 class="hours__day">Tue</h6>
                                        <h6 class="hours__hours">8:00am - 5:00pm</h6>
                                    </li>
                                    <li class="hours__line">
                                        <h6 class="hours__day">Wed</h6>
                                        <h6 class="hours__hours">8:00am - 5:00pm</h6>
                                    </li>
                                    <li class="hours__line">
                                        <h6 class="hours__day">Thu</h6>
                                        <h6 class="hours__hours">11:00am - 5:00pm</h6>
                                    </li>
                                    <li class="hours__line">
                                        <h6 class="hours__day">Fri</h6>
                                        <h6 class="hours__hours">8:00am - 5:00pm</h6>
                                    </li>
                                    <li class="hours__line">
                                        <h6 class="hours__day">Sat</h6>
                                        <h6 class="hours__hours">8:00am - 2:00pm</h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% include 'atoms/google-map.twig' with {
                    mapTarget: "google-map",
                    googleMap: "https://www.google.com/maps/place/Tong+Dental+Care/@39.15855,-77.2110846,15.29z/data=!4m5!3m4!1s0x0:0x517ea2481646880e!8m2!3d39.1586838!4d-77.2137208"
                    } %}
                </div>


                <div class="col-md-6">
                    <div class="location-mini__top-row">
                        <div class="col-sm-6 col-lg-5">
                            <div class="location-mini__logo--wrapper">
                                <img  src="assets/childrens-dental-logo.png" alt="{{ mainDoctor }}" class="location-mini__logo">
                            </div>
                            <p class="location-mini__address">903 Russell Avenue #200<br>Gaithersburg, MD 20879</p>

                            <a href="{{ googleMap }}" target="_blank" class="link-no-style ">
                                <h6 class="location-mini__map-link underline">Click for map & directions</h6>
                            </a>
                            <p class="location-mini__new-patient-text">New Patient Hotline</p>
                            <a href="tel:{{ newPhone }}" class="location-mini__new-patient-number">{{ newPhoneNoBreak }}</a>
                            <p class="location-mini__existing-patient-text">Existing Patients Call<br>
                                <a href="tel:{{ existingPhone }}" class="link-no-style location-mini__existing-patient-number">{{ existingPhoneNoBreak }}</a>
                            </p>
                        </div>
                        <div class="col-sm-6 col-lg-7">
                            <div class="hours">
                                <h6 class="hours__title center">Hours</h6>
                                <ul class="hours__list">
                                    <li class="hours__line">
                                        <h6 class="hours__day">Mon</h6>
                                        <h6 class="hours__hours">8:00am - 5:00pm</h6>
                                    </li>
                                    <li class="hours__line">
                                        <h6 class="hours__day">Tue</h6>
                                        <h6 class="hours__hours">8:00am - 5:00pm</h6>
                                    </li>
                                    <li class="hours__line">
                                        <h6 class="hours__day">Wed</h6>
                                        <h6 class="hours__hours">11:00am - 7:00pm</h6>
                                    </li>
                                    <li class="hours__line">
                                        <h6 class="hours__day">Thu</h6>
                                        <h6 class="hours__hours">11:00am - 5:00pm</h6>
                                    </li>
                                    <li class="hours__line">
                                        <h6 class="hours__day">Fri</h6>
                                        <h6 class="hours__hours">8:00am - 5:00pm</h6>
                                    </li>
                                    <li class="hours__line">
                                        <h6 class="hours__day">Sat</h6>
                                        <h6 class="hours__hours">8:00am - 2:00pm</h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% include 'atoms/google-map.twig' with {
                    mapTarget: "google-map2",
                    googleMap: "https://www.google.com/maps/place/Children's+Dental+Care+Inc./@39.1586852,-77.2158933,17z/data=!3m1!4b1!4m5!3m4!1s0x89b62cd9694d2f09:0x5ae61ec42f6e2138!8m2!3d39.1586852!4d-77.2137046"
                    } %}
                </div>
            </div>
        </div>
    </div>
</section>