<div class="location-card">

    <div class="row location-card__content center">

        <div class="col-sm-6 col-md-4">
            <div class="location-card__logo--wrapper">
                <img  src="assets/highlands-dental_logo.png" alt="{{ mainDoctor }}" class="location-card__logo">
            </div>
            <p class="location-card__address">23206 Brewers Tavern Way<br>Clarksburg, MD 20871</p>

            <a href="{{ googleMap }}" target="_blank" class="link-no-style ">
                <h6 class="location-card__map-link underline">Click for map & directions</h6>
            </a>
        </div>


        <div class="col-sm-6 col-md-4">
            <p class="location-card__new-patient-text">Now Welcoming New Patients</p>
            <a href="tel:{{ newPhone }}" class="location-card__new-patient-number">{{ newPhoneNoBreak }}</a>

            {% include 'atoms/request-appointment-button.twig' with {
            classes: "btn--style-two"
            } %}

            <p class="location-card__existing-patient-text">Existing Patients Call<br>
                <a href="tel:{{ existingPhone }}" class="link-no-style location-card__existing-patient-number">{{ existingPhoneNoBreak }}</a>
            </p>
        </div>


        <div class="col-md-4">
            {% include 'atoms/hours-table.twig' %}
        </div>
    </div>
</div>